In [18]:
import pandas as pd
df = pd.DataFrame(
   {
      "Date": [],
      "Amount": [],
      "Category": []
   }
)

In [10]:
expense_info = ["05.16",45.90
                ,"groceries"]
df.loc[len(df)] = expense_info
print(df)

    Date  Amount   Category
0  05.15   45.79     Others
1  05.15   45.79     Others
2  05.15   45.79     Others
3  05.16   45.90  groceries
4  05.16   45.90  groceries

In [17]:
df.iat[1,2]

'Others'

In [1]:
from datetime import date
a = date.today()
print(a)
print(type(a))

2023-05-17
<class 'datetime.date'>

In [2]:
str(a)

'2023-05-17'

In [7]:
'2023-04-31' < str(a)

True

In [8]:
nums = [1,2,3,4]
res = [1]*(len(nums))
print(res)

[1, 1, 1, 1]

In [11]:
import numpy as np
randnums= np.random.randint(-5,5,12)
print(randnums)

[ 4  1 -2 -2 -3 -4 -2  0  4  4  2 -4]

In [14]:
set1 = {'a':3,'b':5,'c':6}
set2 = {'b':5,'c':6,'a':3}
set1== set2

True

In [17]:
set3 = {'a':0,'b':0,'c':0}
sum(set3.values()) == 0

True

In [2]:
mlist = ['a','b','c','d','e','f','g']
for i,c in enumerate(mlist):
    print(c)
    i+=2

a
b
c
d
e
f
g

In [3]:
mdict = {1:'a','b','c',2:'d',3:'e'}
for n in mdict.values():
    print(n)

SyntaxError: invalid syntax (3043787870.py, line 1)

In [4]:
mlist = [1,2,3,4,5]
print(mlist[-2:])

[4, 5]

In [4]:
mlist = [1,2,3,4]
-mlist

TypeError: bad operand type for unary -: 'list'

In [1]:
list1 = [1,2,3]
list2 = [2,3,4]
list1+list2

[1, 2, 3, 2, 3, 4]

In [2]:
import numpy as np
a = np.array(['first','second','third'],
             [1,2,3],
             [4,5,6])
print(a['first'])

TypeError: array() takes from 1 to 2 positional arguments but 3 were given

In [7]:
x=7
x = x^3
x

4

In [2]:
matrix = [0]*4
matrix = matrix*3
print(matrix)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [5]:
def currsum(n):
            res = 0
            while n > 0:
                res += (n%10)**2
                n = int(n/10)
            return res

In [6]:
currsum(19)

82

In [7]:
currsum(82)

68

In [8]:
currsum(68)

100

In [9]:
currsum(100)

1

In [1]:
my_list = [1]
my_list[-1]

1

In [8]:
hashmap = {'a':0,'b':0,'c':0}
sum(list(hashmap.values())) == 0

True

In [9]:
myset = {(1,2),(2,3)}

In [11]:
(2,2) in myset

False

In [13]:
myset.add((3,5))
myset

{(1, 2), (2, 3), (3, 5)}